%Chk={{job.fchk_name}}
# {{job.method}}/{{job.basis_set}} 6d 10f nosymm opt freq 

{{job.name}}

{{geom.charge}} {{geom.multiplicity}}
{%- for line in geom.as_lines(format="g09") %}
{{ '%s' | format(line)}}
{%- endfor %}
{{'\n'}}
