{

   read_g09_fchk_file {{job.fchk}}

   name= {{job.name}}

   put

   ! Roby population analysis
   robydata= {
      kind= atom_bond_analysis
      atom_list= { 1 ... {{job.geometry.n_atoms}} } ! unfortinately, need the # of atoms here ...
   }

   roby_analysis

}
