#p {{method.method}}/{{basis_set}} {{method.additional}}

{{name}}

{{geometry.charge}} {{geometry.multiplicity}}
{%- for line in geometry.as_lines(line_format="g09") %}
{{ '%s' | format(line)}}
{%- endfor %}
{{'\n'}}
