{%- if mem -%}
%mem={{mem}}
{%- endif -%}
{%- if nprocs -%}
%nproc={{nprocs}}
{%- endif -%}
{%- if chkfile -%}
%chk={{chkfile}}
{%- endif -%}
#p {{method.method}}/{{basis_set}} {{method.additional}} scf=(conver=8,maxconventionalcycles=555,xqc)

{{name}}

{{geometry.charge}} {{geometry.multiplicity}}
{%- for line in geometry.as_lines(line_format="g09") %}
{{ '%s' | format(line)}}
{%- endfor %}
{{'\n'}}
